.container{
    // position: relative;
    margin-top: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: calc(100% - 60px);
    gap: 20px;
}
.game{
    position: absolute;
    z-index: 5;
    top: 60px;
    left: 0;
    width: 100%;
    height: calc(100% - 60px);
    border: none;
}