.container{
    margin-top: 60px;
    padding-bottom: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    gap: 5px;
}
.post-body{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    // border-radius: 20px;
}
.post-body-empty{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    min-height: 180px;
    border-radius: 20px;
}
.post-info{
    display: flex;
    width: calc(100% - 20px);
    padding: 10px;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.post-author{
    display: flex;
    // width: 100%;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 10px;
}
.author-photo{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    overflow: hidden;
    img{
        width: 100%;
        height: 100%;
        object-fit: cover; /* Обеспечивает заполнение контейнера изображением */
        object-position: center; /* Центрирует изображение */
    }
}
.author-photo-empty{
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 27px;
    height: 27px;
    border-radius: 50%;
    overflow: hidden;
}
.author-name{
    display: flex;
    font-size: 15px;
    font-weight: 500;
}
.author-name-empty{
    display: flex;
    width: 100%;
    font-size: 15px;
    font-weight: 500;
}
.post-delete{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    // width: 100%;
    width: 30px;
    height: 30px;
    cursor: pointer;
}
.post-more{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2px;
}
.post-date{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    font-size: 15px;
    font-weight: 500;
    user-select: none;
}
.post-data{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    height: 100%;
    gap:10px;
}
.post-photo{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    img{
        max-width: 100%;
        max-height: 100%;
    }
}
.post-text{
    display: flex;
    width: calc(100% - 20px);
    padding: 10px;
    flex-wrap: wrap;
    // flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    font-size: 15px;
    font-weight: 500;
    gap: 2px;
}
.post-text-empty{
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: flex-start;
    margin-top: 25px;
    width: calc(100% - 20px);
    padding: 10px;
    gap: 5px;
}
.hashtags{
    color: var(--hashtag-color, #888);
}
.post-buttons{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
}
.post-actions{
    display: flex;
    width: calc(100% - 20px);
    padding: 10px;
    align-items: center;
    justify-content: space-between;
    gap: 5px;
}
.action-like{
    display: flex;
    width: 32px;
    height: 32px;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    cursor: pointer;
    svg{
        width: 70%;
        height: 70%;
        transition: 0.5s;
        user-select: none;
        &:focus{
            outline: none;
        }
    }
}
.action-send{
    display: flex;
    width: 32px;
    height: 32px;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    cursor: pointer;
    svg{
        max-width: 22px;
        max-height: 22px;
    }
}
//  \|/ УДАЛИТЬ 
.input-container{
    position: fixed;
    width: 90%;
    // height: 40px;
    bottom: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 10px;
    z-index: 5000;
}
.message-action{
    display: flex;
    align-items: flex-end;
    width: 100%;
    gap: 10px;
    margin-bottom:40px;
}
.add-file{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    cursor: pointer;
    svg{
        transition: 0.5s ease;
        width: 20px;
        height: 20px;
    }
}
.add-file:hover{
    svg{
        opacity: 0.5;
    }
}
.input-body{
    position: relative;
    display: flex;
    flex-direction: column;
    width: calc(100% - 65px);
    border-radius: 20px;
    padding: 5px 5px 5px 5px;
    gap: 10px;
}
.image-preview{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 150px;
    // overflow: hidden;
    img{
        border-radius: 15px;
        width: 100%;
        height: 100%;
    }
}
.remove-image{
    position: absolute;
    display: flex;
    top: 10px;
    right: 10px;
    width: 25px;
    height: 25px;
    align-items: center;
    justify-content: center;
    background: rgba($color: #000000, $alpha: 0.5);
    border-radius: 50%;
    cursor: pointer;
    svg{
        width: 15px;
        height: 15px;
        transform: rotate(45deg);
    }
}
.input-component{
    position: relative;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    width: calc(100%);
    height: 30px;
    max-height: 100px;
    // background: red;
    border-radius: 40px;
    // gap: 10px;
}
.smile-button{
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    background: transparent;
    cursor: pointer;
    svg{
        min-width: 22px;
        min-height: 22px;
        opacity: 1;
        transition: 0.5s ease;
    }
}
.smile-button:hover{
    svg{
        opacity: 0.5;
    }
}
// .placeholder{
//     position: absolute;
//     left: 42px;
//     bottom: 10px;
//     font-size: 15px;
//     font-weight: 400;
// }
.input-message{
    border: none;
    display: flex;
    width: calc(100% - 85px);
    line-height: 25px;
    // height: 100%;
    height: 28px;
    max-height: 100px;
    padding-bottom: 0;
    background: transparent;
    font-size: 15px;
    font-weight: 400;
    word-break: break-all;
    // background: red;
    resize: none;
}
.input-message:focus{
    outline: none;
}
.send-button{
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    margin-left: auto;
    border-radius: 50%;
    cursor: pointer;
    svg{
        transition: 0.5s ease;
    }
}
.send-button:hover{
    svg{
        transform: rotate(-45deg);
    }
}

.images-body{
    width: 100%;
}

.images-wrapper_1{
    display: grid;
    align-items: center;
    justify-content: center;
    width: 100%;
    // border-radius: 15px;
    overflow: hidden;
    grid-template-columns: repeat(1, 1fr);
    grid-auto-rows: 300px;
    grid-gap: 5px;
    grid-template-areas: "first";
    align-items: center;
    justify-content: center;
}
.images-wrapper_2{
    display: grid;
    align-items: center;
    justify-content: center;
    width: 100%;
    // border-radius: 15px;
    overflow: hidden;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: 300px;
    grid-gap: 5px;
    grid-template-areas: "first second";
    align-items: center;
    justify-content: center;
}
.images-wrapper_3{
    display: grid;
    align-items: center;
    justify-content: center;
    width: 100%;
    // border-radius: 15px;
    overflow: hidden;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: 150px;
    grid-gap: 5px;
    grid-template-areas: 
                    "first second"
                    "first third";
    align-items: center;
    justify-content: center;
}
.images-wrapper_4{
    display: grid;
    align-items: center;
    justify-content: center;
    width: 100%;
    // border-radius: 15px;
    overflow: hidden;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: 150px;
    grid-gap: 5px;
    grid-template-areas: 
                    "first second"
                    "third fourth";
    align-items: center;
    justify-content: center;
}
.images-wrapper_5{
    display: grid;
    align-items: center;
    justify-content: center;
    width: 100%;
    // border-radius: 15px;
    overflow: hidden;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: 100px;
    grid-gap: 5px;
    grid-template-areas: 
            "first second"
            "third third"
            "fourth fiveth";
    // grid-template-areas: "area";
    align-items: center;
    justify-content: center;
}
.image_0{
    position: relative;
    display: flex;
    width: 100%;
    height: 100%;
    overflow: hidden;
    grid-area: first;
    // background: green;
    cursor: pointer;

    img{
        // border-radius: 15px;
        min-width: 100%;
        min-height: 100%;
        object-fit: cover; 
        object-position: top;
    }
}
.image_1{
    position: relative;
    display: flex;
    width: 100%;
    height: 100%;
    overflow: hidden;
    grid-area: second;
    // background: yellowgreen;
    cursor: pointer;
    
    img{
        // border-radius: 15px;
        min-width: 100%;
        min-height: 100%;
        object-fit: cover; 
        object-position: top;
    }
}
.image_2{
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    overflow: hidden;
    grid-area: third;
    // background: yellowgreen;
    cursor: pointer;

    img{
        // border-radius: 15px;
        min-width: 100%;
        min-height: 100%;
        object-fit: cover; 
        object-position: top;
    }
}
.image_3{
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    overflow: hidden;
    grid-area: fourth;
    // background: yellowgreen;
    cursor: pointer;

    img{
        // border-radius: 15px;
        min-width: 100%;
        min-height: 100%;
        object-fit: cover; 
        object-position: top;
    }
}
.image_4{
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    overflow: hidden;
    grid-area: fiveth;
    // background: yellowgreen;
    cursor: pointer;

    img{
        // border-radius: 15px;
        min-width: 100%;
        min-height: 100%;
        object-fit: cover; 
        object-position: top;
    }
}
.emoji{
    font-family: 'Noto Color Emoji';
    font-size: 56px;
}
@media(min-width: 700px){
    .container{
        width: calc(60% - 20px);
    }
}