.container{
    margin-top: 60px;
    display: flex;
    flex-direction: column;
    width: 100%;
}
.empty-body{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px;
    width: calc(100% - 20px);
    cursor: pointer;
}
.empty-photo {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;  /* Устанавливаем фиксированную ширину */
    height: 30px; /* Устанавливаем фиксированную высоту */
    border-radius: 50%;
    overflow: hidden;
}
.empty-info{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 10px 0 10px 20px;
    height: 100%;
}
.empty-name{
    width: 100%;
}