:root {
    --icon-color: #0040F9;
    --first-color: #0040F9;
    --second-color: #C3F82B;
    --third-color: #FF4365;
    --background-color: #0A0B10;
    --text-first-color: #FFFFFF;
    --text-second-color: #0A0B10;
    --text-third-color: #6C6C76;
    --arrow-background-color: #131318;
    --element-first-color: #131318;
    --element-second-color: #26262F;
    --casino-first-color: #007350;
    --casino-second-color: #730015;
    --casino-third-color: #030001;
    --casino-wheel-first-color: #131318;
    --casino-wheel-second-color: #25252F;
}