.container{
    margin-top: 60px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    width: 90%;
    gap: 20px;
}
.week{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
.day{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-width: 40px;
    min-height: 40px;
    border-radius: 15px;
    background: red;
    font-size: 16px;
    font-weight: 400;
    cursor: pointer;
    transition: 0.5s ease;
}
.day-date{
    font-size: 12px;
    font-weight: 400;
}
.lessons-container{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    width: 100%;
    gap:5px;
}
// .active{
//     background: greenyellow;
// }
.lesson-body{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 10px;
    width: calc(100% - 20px);
    gap: 20px;
    border-radius: 20px;
    user-select: none;
}
.lesson-circle{
    display: flex;
    min-width: 32px;
    min-height: 32px;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
}
.lesson-name{
    font-size: 15px;
    font-weight: 500;
}
.lesson-time{
    font-size: 12px;
    font-weight: 400;
}
.lesson-room{
    margin-left: auto;
    font-size: 15px;
    font-weight: 400;
}
.info-body{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
}
.edit{
    position: absolute;
    bottom: 100px;
    right: 30px;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border-radius: 10px;
    cursor: pointer;
    svg{
        transition: 0.5s ease;
    }
    &:hover{
        svg{
            scale: 1.2;
        }
    }
}
.add-body{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 40px;
    border-radius: 50px;
}
.circle{
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 32px;
    min-height: 32px;
    border-radius: 50%;
    cursor: pointer;
}
.button{
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 40px;
    border-radius: 50px;
    font-size: 15px;
    font-weight: 400;

}
@media(min-width: 700px){
    .container{
        width: 60%;
    }
    .lesson-body{
        padding: 5px 10px 5px 5px;
    }
    .edit{
        right: 20%;
    }
}