@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap');
*{
    font-family: 'Inter', sans-serif;
    font-weight: bold;
}
body{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  background: #0A0B10;
}
::-webkit-scrollbar {
  width: 10px; /* Ширина ползунка */
}

/* Стилизация ползунка скроллбара */
::-webkit-scrollbar-thumb {
  background-color: #0040F9; /* Цвет ползунка */
  border-radius: 5px; /* Закругление углов ползунка */
  cursor: pointer;
}

/* Стилизация фона скроллбара */
::-webkit-scrollbar-track {
  background-color: rgba($color: #000000, $alpha: 0.3); /* Цвет фона */
}
textarea::-webkit-scrollbar {
  width: 6px; /* Ширина ползунка */
}

/* Стилизация ползунка скроллбара */
textarea::-webkit-scrollbar-thumb {
  background-color: #fff; /* Цвет ползунка */
  border-radius: 5px; /* Закругление углов ползунка */
  cursor: pointer;
}

/* Стилизация фона скроллбара */
textarea::-webkit-scrollbar-track {
  background-color: rgba($color: #000000, $alpha: 0.3); /* Цвет фона */
}
div::-webkit-scrollbar {
  width: 6px; /* Ширина ползунка */
}

/* Стилизация ползунка скроллбара */
div::-webkit-scrollbar-thumb {
  background-color: #fff; /* Цвет ползунка */
  border-radius: 5px; /* Закругление углов ползунка */
  cursor: pointer;
}

/* Стилизация фона скроллбара */
div::-webkit-scrollbar-track {
  border-radius: 0 0 50px 0;
  background-color: rgba($color: #000000, $alpha: 0.3); /* Цвет фона */
}
